#wrapper{

    display:flex;

    justify-content: center;

    align-items: center;

    height: 40vh



}

.mygrid{

    display: grid;

    width:80%;

    grid-template-rows: 15px 30px 300px;

    grid-template-columns: 1fr 2fr;

    background-color:black;

}


.left

{

    grid-row: 3/4; 

    grid-column: 1/2;

    background-color:grey;

}


.right

{

    grid-row:3/4;

    grid-column: 2/3;

    background-color: orange;

}

img{
width: 90%;

position: static;

}